.zodiac {
  color: var(--color1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name {
  color: var(--color3);
}

.dates {
  color: var(--color2);
}

.symbol {
  color: var(--color4);
}
