footer {
  align-items: center;
  background-color: var(--color3);
  bottom: 0;
  color: var(--color5);
  cursor: default;
  display: flex;
  font-size: 1.2em;
  height: 60px;
  justify-content: center;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
}
