@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

body {
  --color1: #9ad5ca;
  --color2: #adb9e3;
  --color3: #acdde7;
  --color4: #a379c9;
  --color5: #b744b8;
  --header-height: 60px;
  --footer-height: 60px;
  font-family: 'Bakbak One';
  background-color: var(--color4);
}
